* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.preview {
  width: 90%;
  max-width: 960px;
  height: 300px;
  border: 1px solid #aaa;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.preview img {
  display: block;
  width: 100%;
  height: 100%;
}

.section-uploader {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.uploader {
  border: 1px solid #aaa;
  border-radius: .2rem;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.result {
  padding: 1rem;
  background-color: #eee;
}

#cs {
  display: none;
}


@media screen and (min-width: 960px) {
  .section-uploader {
    flex-direction: row;
  }

  .section-uploader > div {
    width: 100%;
  }
}
